---
---

@import "minima";

.site-title::before {
    content: url("/assets/img/cropped-Mouse-drawing-small.jpg");
    display: inline-block;
    position: relative;
    width: 150px;
    top: 10px;
}