---
---

@import "minima";

.site-title::before {
	content: url("/ride_or_pie/assets/img/cropped-Mouse-drawing-32px.png");
	display: inline-block;
	position: relative;
	height: 35px;
	top: 10px;
}